
<footer>
  <div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Shivi Soni</p>
  </div>
  <div class="container">
    <p>&copy; Blog Ninja 2020</p>
  </div>
</footer>
</body>
</html>
